.gallery{
	width: 1200px;
	margin: 0 auto;
}
.img_box{
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
}
.img_box img{
	width: 200px;
	
}
.img_box img:hover{
	width: 280px;
	 transition: all .2s linear;
	margin-left: -40px;
	margin-top: -40px;
}