body {
	font-size: 14px;
	color: #222;
}
.t_nav ul{
	width: 1000px;
	margin: 20px auto;
	/*margin-left: 20px;*/
}
.t_nav ul li{
	float: left;
}
.t_nav ul li a{
	font-size: 14px;
	line-height: 10px;
	color: #222;
	padding: 0 15px;
}
.t_nav ul li a:hover{
	color: #00a1d6;
}
.h_title{
	margin-left: 0;
}