/*三级页面*/
.ht_head{
	 padding-bottom: 15px;
}
 .ht_head_i{
	width: 24px;
    height: 24px;
	background: url(../img/icons.png) -83px -1492px no-repeat;
	margin-right: 10px;
    float: left;
}
.ht_head_t{
	vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: #222;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
.ht_head_d{
	color: #99a2aa;
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
    font-family: "Lucida Console",Monaco,monospace;
    font-size: 12px;

}
.ht_lsit li{
	border: 1px solid  #d2d7de;/*#e5e9ef;*/
    border-radius: 12px;
    background-color: #fff;
    height: 22px;
    margin: 5px 10px 5px 0;
    padding: 0 10px;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: border-color;
	float: left;
}
.ht_lsit li:hover{
    border-color: #00a1d6!important;
}
.ht_lsit li:hover a{
	 color: #00a1d6!important;
}
.ht_lsit li a{
	display: block;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.h_img_e{
	width: 30px;
    height: 27px;
    float: left;
	background: url(../img/icons.png) -84px -1427px  no-repeat;
}

.list_box{
	width: 680px;
	/*height: 800px;*/
	float: left;
}
.s_header{
	width: 100%;
	height: 46px;
	border-bottom: solid 1px #e5e9ef;
}
.s_l ul li{
	margin-right: 20px;	
	font-size: 16px;
	line-height: 46px;
	cursor: pointer;
	float: left;
}
.s_l ul li:hover{
	color: #00a1d6;
}
.s_r{
	margin-right: 0px;
	padding-top: 8px;
	float: right;
}
.s_r ul li{
	line-height: 46px;
	cursor: pointer;
}
.s_r ul li:hover{

}
.tab_i{
	width: 34px;
	height: 32px;
	background: url(../img/icons.png) no-repeat;
	float: left;
}
#mode_1{
	background-position: -270px -847px;
}
#mode_1:hover{
	background-position-x: -334px;
}
#mode_2{
	background-position: -334px -911px;
	/*background-position: -270px -911px;*/
}
#mode_2:hover{
	background-position-x: -334px;
}
.img_list_b li{
	width: 100%;
	float: none;	
}
.img_list_b li a{
	float: left;
}
